$bg-color:#202020;
$bg-box:#404040;
$color-white:#FFFFFF;
$bg-dark:#151515;
$bg-light:#303030;
$bg-verylight:#4D4D4D;
$blue:#4CBEFF;
$border-color:#494949;
$text-color:#142630;
$grey:#ADADAD;
$red-color:#FF1604;
$skeleton-bg:#2E2E2E;