@charset "UTF-8";
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
body {
  background: #202020;
  color: #FFFFFF;
}

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio, input, button):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

@font-face {
  font-family: Proxima-Nova-300;
  src: url(../../assets/fonts/Fontspring-DEMO-proximanova-thin.woff2);
  font-display: swap;
}
@font-face {
  font-family: Proxima-Nova-400;
  src: url(../../assets/fonts/Fontspring-DEMO-proximanova-light.woff2);
  font-display: swap;
}
@font-face {
  font-family: Proxima-Nova-500;
  src: url(../../assets/fonts/Fontspring-DEMO-proximanova-regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: Proxima-Nova-600;
  src: url(../../assets/fonts/Fontspring-DEMO-proximanova-medium.woff2);
  font-display: swap;
}
@font-face {
  font-family: Proxima-Nova-700;
  src: url(../../assets/fonts/ProximaNova-Black.woff2);
  font-display: swap;
}
body {
  font-family: "Proxima-Nova-400", Arial, Sans-Serif;
}

h1 {
  font-family: "Proxima-Nova-300", Arial, Sans-Serif;
}

h2 {
  font-family: "Proxima-Nova-400", Arial, Sans-Serif;
}

h3 {
  font-family: "Proxima-Nova-700", Arial, Sans-Serif;
  font-size: 18px;
}

h4 {
  font-family: "Proxima-Nova-700", Arial, Sans-Serif;
  font-size: 16px;
}

h5 {
  font-family: "Proxima-Nova-700", Arial, Sans-Serif;
}

.form-control {
  font-size: 16px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;
}

.form-control:focus-within {
  color: #FFFFFF;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  font-size: 16px;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #4CBEFF;
}

input[type=radio]:checked::before {
  transform: scale(1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-left: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4CBEFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CBEFF;
}

input:checked + .slider:before {
  transform: translateX(17px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.file_upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 88px;
}
.file_upload-header {
  font-size: 60px;
  color: #FFFFFF;
  padding-bottom: 54px;
}
.file_upload-body {
  display: flex;
  justify-content: space-around;
  background: #404040;
  overflow: hidden;
  flex-direction: column;
  padding: 150px 176px 83px 176px;
  border-radius: 15px;
  position: relative;
}
.file_upload-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.file_upload-icon svg {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.file_upload-text {
  font-size: 25px;
  padding-right: 20px;
}
.file_upload-drag {
  padding-top: 10px;
  color: #ADADAD;
  font-size: 18px;
}
.file_upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
}
.file_upload-search {
  width: 630px;
  height: 45px;
  background: #404040;
  margin-top: 15px;
  border-radius: 5px;
}
.file_upload-inputsearch {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: #303030;
  border-radius: 5px;
  border: none;
}

.upload_type {
  width: 630px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15;
  margin-top: 38px;
}
.upload_type-link {
  padding: 11px 37px 10px 39px;
  border-radius: 5px;
  background-color: #303030;
  display: flex;
  align-items: center;
  gap: 11px;
}

.imagebox {
  width: 630px;
  background-color: #151515;
  border-radius: 10px;
  padding: 25px 19px;
  margin-top: 26px;
}
.imagebox-caption {
  font-size: 16px;
  font-weight: 500;
}
.imagebox-popup {
  margin-top: 10px;
  display: flex;
  justify-content: nul;
  gap: 13px;
}

.upload_setting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin: 52px 0px 16px 0px;
  width: 630px;
}
.upload_setting .settings svg {
  width: 24px;
  height: 24px;
}
.upload_setting h4 {
  font-size: 30px;
}

.upscaling {
  max-width: 630px;
  width: 100%;
  background: #151515;
  padding: 31px 37px 29px 23px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.upscaling-zoom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.upscaling p {
  font-size: 18px;
  font-weight: 700;
}
.upscaling-Noise {
  display: flex;
}

.image-enhancer-popup {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.image-enhancer-popup .close {
  margin: 40px 0 0 50px;
}
.image-enhancer-popup .close svg {
  width: 67px;
  height: 67px;
  background: #4CBEFF;
  border-radius: 50%;
  padding: 22px;
  color: #202020;
  cursor: pointer;
}
.image-enhancer-popup .image-gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.image-enhancer-popup .image-gallery > ul {
  padding: 40px 30px;
  background: #151515;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 90px;
}
.image-enhancer-popup .image-gallery > ul li {
  width: 122px;
  height: 104px;
  position: relative;
}
.image-enhancer-popup .image-gallery > ul li img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.image-enhancer-popup .image-gallery > ul li .remove svg {
  width: 27px;
  height: 27px;
  background: #4CBEFF;
  border-radius: 50%;
  padding: 12px 6px;
  color: #202020;
  cursor: pointer;
  position: absolute;
  top: -14px;
  right: -14px;
}
.image-enhancer-popup .image-gallery > ul li .remove svg:hover {
  background: #FF1604;
}
.image-enhancer-popup .image-gallery .big-image {
  width: 100%;
  height: 540px;
}
.image-enhancer-popup .image-gallery .big-image img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-enhancer-popup .image-gallery .big-image .image-scale {
  position: relative;
}
.image-enhancer-popup .image-gallery .big-image .image-scale ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  opacity: 0.7;
}
.image-enhancer-popup .image-gallery .big-image .image-scale ul li {
  background: #151515;
  padding: 5px 12px;
  border: 1px solid #000;
}
.image-enhancer-popup .image-gallery .big-image .image-scale ul li svg {
  width: 13px;
  height: 13px;
  cursor: pointer;
}
.image-enhancer-popup .image-gallery .big-image .image-scale ul li:first-child {
  border-radius: 9px 0px 0px 9px;
  border-right: 0px;
}
.image-enhancer-popup .image-gallery .big-image .image-scale ul li:last-child {
  border-radius: 0px 9px 9px 0px;
  border-left: 0px;
}
.image-enhancer-popup .image-gallery .image-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
}
.image-enhancer-popup .image-gallery .image-info-size {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
}
.image-enhancer-popup .image-gallery .image-info-size .hghlt-text {
  color: #4CBEFF;
}
.image-enhancer-popup .image-gallery .image-info-size .nrml-text {
  display: block;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}
.image-enhancer-popup .image-gallery .image-info-size svg {
  width: 17px;
  height: 9px;
}
.image-enhancer-popup .image-gallery .image-info-size .tc {
  text-align: center;
}
.image-enhancer-popup .image-gallery .image-info-size.bd-lt-rt {
  padding: 0 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 0px;
  border-bottom: 0px;
}
.image-enhancer-popup .image-gallery .image-info .download-btn {
  display: flex;
  align-items: center;
  background: #4CBEFF;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 25px;
  cursor: pointer;
}
.image-enhancer-popup .image-gallery .image-info .download-btn svg {
  width: 16px;
  height: 15px;
  margin-left: 10px;
}
.image-enhancer-popup .image-gallery .image-info .download-btn:hover {
  background: rgba(76, 190, 255, 0.8);
}
.image-enhancer-box {
  max-width: 360px;
  width: 100%;
  align-self: center;
  background: #151515;
  border-radius: 10px 0px 0px 10px;
}
.image-enhancer-box h3 {
  padding: 12px 20px;
  background: #4CBEFF;
  border-radius: 10px 0px 0px 0px;
  color: #142630;
  font-weight: 700;
}
.image-enhancer-box .bd-tp {
  border-top: 1px solid #494949;
}
.image-enhancer-box .title {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 26px 20px;
}/*# sourceMappingURL=main.css.map */